body{
  text-align: center;
}
.data{
    border: 1px solid black !important;
    width: 50%;
    height: 500px;
    margin-left: 20%;
    margin-top: 5%;
   
    

}
#any{
  text-align: center;
}
.data img{
  margin-left: 10%;
  width: 80%;
  margin-top: 7%;
}
.card{
  margin-left: 90%;
  margin-top: 40%;
}